<p><%= user_email %></p>

<p>Thank you for registering for the Brighter Beginning's Adopt-a-Family Program!</p>

<p><%= link_to "Visit the site to see nearby families now!", "http://brighter-beginnings.herokuapp.com" %></p>
