.flash-error {
  width: 800px;
  background-color: #f0a8a8;
  border-width: 1px;
  border-style: solid;
  border-color: #a8a8a8;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 3px;
  text-align: center;
  text-color: #404040;
}
.flash-warning {
  width: 800px;
  background-color: #ffffe0;
  border-width: 1px;
  border-style: solid;
  border-color: #a8a8a8;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 3px;
  text-align: center;
  text-color: #404040;
}
.flash-notice {
  width: 800px;
  background-color: #99ffcc;
  border-width: 1px;
  border-style: solid;
  border-color: #a8a8a8;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 3px;
  text-align: center;
  text-color: #404040;
}
li.session-user-name {
  text-color: #b0b0b0;
}

.span12.blurb {
  padding: 10px;
  background-color: #f5f5f5;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.field {
  width:80px;
  vertical-align:top;
  padding-right:50px;
}

textarea {
 width: 500px;
 height: 250px;
}

div.template-preview {
  background-color: #F0F8FF;
  padding: 8px;
  border-style: dotted;
  border-width: 1px;
}

a {
  border-bottom: 1px dotted #404040
}

.flash-warning a {
  border-bottom: 1px dotted #404040
}
.flash-error a {
  border-bottom: 1px dotted #404040
}
.flash-notice a {
  border-bottom: 1px dotted #404040
}
