<h1>All users</h1>

<ul class="users">
  <% @users.each do |user| %>
    <li>
      <%= link_to user.email, user %>
      <%= link_to "delete", user, method: :delete, confirm: "You sure?" %>
    </li>
  <% end %>
</ul>

