<h1>Nearby Families</h1>
<form action="/users/main" method="get">
Filter by family size:
<input type="checkbox" name="family_size" value=1 /> 1 
<input type="checkbox" name="family_size" value=2 /> 2
<input type="checkbox" name="family_size" value=3 /> 3
<input type="checkbox" name="family_size" value=4 /> 4
<input type="checkbox" name="family_size" value=5 /> 5+
<input type="submit" value="Filter">
<br />
<% @display_families.each do |family| %>
   <%= link_to family.family_code, family %>
   <strong>Family Profile:<%= family.profile %></strong>
<% end %>
<br />

</form>
