<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bootstrap, from Twitter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  </head>

  <body>

        <img src="/assets/logo_medium.png" alt="logo"/>
        <div class="padding" style="padding-bottom:25px;">&nbsp;</div>
        <h2><img src="/assets/logo_small.jpg" alt="logo" width="50" height="50" align="absmiddle"/><font color="#c74613">     History</font></h1>
	<div class="padding" style="padding-bottom:1px;">&nbsp;</div>
        <p><font size ="3">Brighter Beginnings has been responding to the needs of families in resource-poor neighborhoods since 1984, when our work began in response to the alarming difference in the incidence of mortality and illness among black babies as compared to babies of other races.</p>

<p><font size ="3">As our holistic view of healthy families developed, so did the array of programs that help our clients cope with multiple personal, familial and economic problems. We’ve also created a robust collaboration with like-minded agencies that give our client-families access to vital services such as healthcare, childcare, housing, education, job training and employment, and monetary aid and temporary benefits.</p>

<p><font size ="3">At this juncture, Brighter Beginnings has grown into a respected and well-connected organization with Family Strengthening Centers in Oakland, Richmond, Bay Point and Antioch. We’re blessed with a multi-cultural, bi-lingual staff of passionate and committed family-service professionals. In fact, many of our staff came to this work because of challenges they faced in their own families. Having transformed their lives, they feel an intense desire to be transformative in our client-families’ lives.</p>
	<div class="padding" style="padding-bottom:7px;">&nbsp;</div>

        <h2><img src="/assets/logo_small.jpg" alt="logo" width="50" height="50" align="absmiddle"/><font color="#c74613">     Vision & Mission</font></h1>
        <div class="padding" style="padding-bottom:1px;">&nbsp;</div>
        <p><font size ="3">Resilience. Strong community connections. Parenting and child-development smarts. Financial security. Healthy, happy children. These are the five success factors for healthy families—and they apply to every family. For those who live in a community that is resource-rich, such family success is easier to maintain. Income is just the half of it; the rest is easily taken for granted. Things like steady employment. Strong family and community ties. Great school districts. Plentiful venues for family fun. Professional resources (and the funds to secure them) when outside help is needed. Imagine trying to help your family thrive in a neighborhood where mere survival is at stake. Where liquor stores litter every street corner and playgrounds are dens for drug deals. Where jobs are scarce…and dads even scarcer. Imagine schools with bars on the windows, a flourishing payday loan industry—but not a single store that sells fresh food. Here, stress and trauma are commonplace—and there is very little help in sight.</p>

<p><font size ="3">This is the reality for thousands of East Bay families in Alameda and Contra Costa counties…the families Brighter Beginnings serves. Helping them uncover their strengths and develop a path towards self-sufficiency and “family”-esteem can seem like a utopian ideal. But over time and with adequate support, our families are eager to take the crucial steps toward self-sufficiency, health and happiness that are every family’s birthright, and the key to every community’s success.</p>

<p><font size ="3">Our vision says it all: “Every family matters. And every child deserves a happy, healthy future.”</p>
        <div class="padding" style="padding-bottom:7px;">&nbsp;</div>
        
        <h2><img src="/assets/logo_small.jpg" alt="logo" width="50" height="50" align="absmiddle"/><font color="#c74613">     How We Work</font></h1>
        <p><font size="3">Family strengthening, the framework for every aspect of our work, is a deliberate process of giving parents the necessary opportunities, relationships, networks and support to raise healthy children and thrive as a family unit.</p>

<p><font size ="3">Most clients come to Brighter Beginnings in some sort of crisis, so we initially focus on assessing and meeting their immediate needs. Then in short order, we move toward providing the guidance and education necessary to create and sustain a truly healthy family. Here are some examples of how we help strengthen the families we serve using the “protective factors” framework:</p>

<p><font size ="3">Our family advocates work intently with families in the home to help them develop the emotional fortitude needed to deal with the challenges of their everyday lives We bring families together in therapeutic groups, workshops and social settings, where they can learn new skills while building a community of support</p>
<p><font size ="3">We encourage teen moms to bond with their babies
In addition to supplying emergency food and baby supplies, we embed financial literacy and goal-setting into every family intervention because financial stability directly effects one’s ability to raise happy, healthy children</p>
<p><font size ="3">We actively reach out to teen and noncustodial fathers to teach and encourage them to father their children in healthy ways.
One-on-one counseling and group support helps parents understand the emotional support and stability their kids need…and the importance of monitoring their children’s physical, mental and emotional development</p>
        <div class="padding" style="padding-bottom:7px;">&nbsp;</div>
        
        <h2><img src="/assets/logo_small.jpg" alt="logo" width="50" height="50" align="absmiddle"/><font color="#c74613">     What We Do</font></h1>
        <p><font size = "3">Families are at the heart of everything we do. We treat them with respect, greet them with curiosity and meet them where they are, without judgment. We see tremendous value in our client-families, and we recognize their potential, too.</p>

<p><font size ="3">Our Programs</p>
<p><font size ="3">Our clients’ everyday successes are often a direct consequence of our relationship-first, family-centric approach anchored by an intensive home visiting/case-management model. Case managers develop close and trusting relationships with families. They act as the family’s primary ally and cheerleader, working to uncover each family’s unique assets and address their distinct needs. Our core programs are:</p>

<p><font size ="3"><font color="#c74613">Strengthening Families</font></p>
<p><font size ="3">Our comprehensive family strengthening programs ensure that all our clients receive the services that they need. </p>

<p><font size ="3"><font color="gray">Black Infant Health</font></p>
<p><font size ="3"><font color="gray">Teen Family Support</font></p>
<p><font size ="3"><font color="gray">Early Head Start</font></p>
<p><font size ="3"><font color="gray">Mental Health Services</font></p>
<p><font size ="3"><font color="gray">Antioch First Five Center</font></p>
<p><font size ="3"><font color="#c74613">Fatherhood</font></p>
<p><font size ="3">Brighter Beginnings is trailblazing a new form of family support with our Fatherhood Programs, helping teen dads prepare for the birth of their child, non-custodial dads reconnect with their children and custodial dads experience the joy of parenting.</p>
    
  </body>
</html>

