<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bootstrap, from Twitter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  </head>

  <body>

        <img src="http://www.brighter-beginnings.org/wp-content/themes/bb_new/images/brighter_beginnings_logo.png" alt="logo"/>
        <div class="padding" style="padding-bottom:25px;">&nbsp;</div>
        <h1><img src="http://s17.postimage.org/90gbaee7f/brighter_beginnings_logo.jpg" alt="logo" width="50" height="50" align="absmiddle"/><font color="#c74613">     Contact Us</font></h1>
        <div class="padding" style="padding-bottom:2px;">&nbsp;</div>
        <p><font size="3"><font style="font-weight:bold">Donations</font><font size="3"> —  development@brighter-beginnings.org</p>
        <p><font size="3"><font style="font-weight:bold">Employment</font><font size="3"> —  jobs@brighter-beginnings.org</p>
        <p><font size="3"><font style="font-weight:bold">General Information</font><font size="3"> —  info@brighter-beginnings.org</p>
        <p><font size="3"><font style="font-weight:bold">Media Relations</font><font size="3"> —  media@brighter-beginnings.org</p>
        <p><font size="3"><font style="font-weight:bold">Volunteers</font><font size="3"> —  volunteers@brighter-beginnings.org</p>
        <p><font size="3"><font style="font-weight:bold">Toll Free</font><font size="3"> —  877-427-7134</font></p>
        <div class="padding" style="padding-bottom:4px;">&nbsp;</div>
        
        <h2><img src="http://s17.postimage.org/90gbaee7f/brighter_beginnings_logo.jpg" alt="logo" width="50" height="50" align="absmiddle"/><font color="#c74613">     Oakland Location</font></h2>
	      <div class="padding" style="padding-bottom:1px;">&nbsp;</div>
        <p><font size ="3" style="font-weight:bold">Oakland Center / Admin Office</font></p>
        <p><font size ="3">2648 International Boulevard</p>
        <p><font size="3">Oakland, CA 94601</p>
        <p><font size="3">510.437.8950</p>
        <p><font size="3">510.437.8955 (fax)</p>
        <a href="http://maps.google.com/maps?q=2648+international+blvd+oakland&hl=en&ll=37.780976,-122.231548&spn=0.010718,0.026157&sll=37.0625,-95.677068&sspn=43.799322,107.138672&vpsrc=0&t=m&z=16&iwloc=r3">Map</a>
        <div class="padding" style="padding-bottom:10px;">&nbsp;</div>
        <p><font size ="3"><font size ="3" style="font-weight:bold">Oakland Family Strengthening Center / Early Head Start Office</font></p>
        <p><font size ="3">2595 International Boulevard</p>
        <p><font size ="3">Oakland, CA 94601</p>
        <p><font size ="3">510.903.7500</p>
        <p><font size ="3">510.437.9795 (fax).</p>
        <a href="http://maps.google.com/maps?q=2595+International+Boulevard,+Oakland,+CA&hl=en&ll=37.781485,-122.232749&spn=0.010718,0.026157&sll=37.780976,-122.231548&sspn=0.010718,0.026157&vpsrc=0&t=m&z=16">Map</a>
	      <div class="padding" style="padding-bottom:7px;">&nbsp;</div>

        <h2><img src="http://s17.postimage.org/90gbaee7f/brighter_beginnings_logo.jpg" alt="logo" width="50" height="50" align="absmiddle"/><font color="#c74613">     Richmond Location</font></h1>
        <div class="padding" style="padding-bottom:7px;">&nbsp;</div>
        <p><font size ="3" style="font-weight:bold">Richmond Center</font></p>
        <p><font size="3">2727 Macdonald Avenue</p>
        <p><font size="3">Richmond, CA 94804</p>
        <p><font size="3">510.236.6990</p>
        <p><font size="3">510.236.7346 (fax)</p>
        <a href="http://maps.google.com/maps?q=2727+Macdonald+Avenue,+Richmond,+CA&hl=en&sll=37.781485,-122.232749&sspn=0.010718,0.026157&vpsrc=0&t=m&z=16">Map</a>
        <div class="padding" style="padding-bottom:7px;">&nbsp;</div>
        
        <h2><img src="http://s17.postimage.org/90gbaee7f/brighter_beginnings_logo.jpg" alt="logo" width="50" height="50" align="absmiddle"/><font color="#c74613">     Antioch Location</font></h2>
        <div class="padding" style="padding-bottom:1px;">&nbsp;</div>
        <p><font size ="3" style="font-weight:bold">Antioch First 5 Center</font></p>
        <p><font size="3">512 West Fifth Street</p>
        <p><font size="3">Antioch, CA  94509</p>
        <p><font size="3">925.757-5303</p>
        <p><font size="3">925.978-1775 (fax)</p>
        <a href="http://maps.google.com/maps?q=512+West+Fifth+Street+Antioch,+CA+%C2%A094509&ie=UTF8&gl=us&t=m&z=16&vpsrc=0&iwloc=r0">Map</a>
        <div class="padding" style="padding-bottom:7px;">&nbsp;</div>
        
        <h2><img src="http://s17.postimage.org/90gbaee7f/brighter_beginnings_logo.jpg" alt="logo" width="50" height="50" align="absmiddle"/><font color="#c74613">     Bay Point Location</font></h2>
        <div class="padding" style="padding-bottom:7px;">&nbsp;</div>
        <font size ="3" style="font-weight:bold">Ambrose Community Center</font></p>
        <p><font size = "3">3105 Willow Pass Road, Room 13</p>
        <p><font size = "3">Bay Point, CA 94565</p>
        <p><font size = "3">925.757-5303</p>
        <p><font size = "3">925.709-3431 (fax)</p>
        <a href="http://maps.google.com/maps?q=Ambrose+Community+Center+3105+Willow+Pass+Road,+Room+13+Bay+Point,+CA+94565&hl=en&ll=38.024887,-121.949723&spn=0.008418,0.019269&fb=1&gl=us&hq=Ambrose+Community+Center&hnear=0x80855dab64ac8961:0xcbe61e7cb1e0c13c,3105+Willow+Pass+Rd+%2313,+Bay+Point,+CA+94565&view=map&cid=12724064027750112069&t=m&z=16&vpsrc=0&iwloc=A">Map</a>
        <div class="padding" style="padding-bottom:7px;">&nbsp;</div>
        <p><a class="btn btn-primary btn-large" ONCLICK='href="/#index"'>back to homepage &raquo;</a></p>
        </div>
        
      </div>

    
  </body>
</html>

