<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bootstrap, from Twitter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  </head>

  <body>

        <img src="http://www.brighter-beginnings.org/wp-content/themes/bb_new/images/brighter_beginnings_logo.png" alt="logo"/>
        <div class="padding" style="padding-bottom:25px;">&nbsp;</div>
        <h1><img src="http://s17.postimage.org/90gbaee7f/brighter_beginnings_logo.jpg" alt="logo" width="50" height="50" align="absmiddle"/><font color="#c74613">     Contact Us</font></h1>
        <div class="padding" style="padding-bottom:2px;">&nbsp;</div>
        <p><font size="3">Donations —  development@brighter-beginnings.org</p>
<p><font size="3">Employment —  jobs@brighter-beginnings.org</p>
<p><font size="3">General Information —  info@brighter-beginnings.org</p>
<p><font size="3">Media Relations —  media@brighter-beginnings.org</p>
<p><font size="3">Volunteers —  volunteers@brighter-beginnings.org</p>
<p><font size="3">Toll Free —  877-427-7134</font></p>
<div class="padding" style="padding-bottom:4px;">&nbsp;</div>
        <h2><img src="http://s17.postimage.org/90gbaee7f/brighter_beginnings_logo.jpg" alt="logo" width="50" height="50" align="absmiddle"/><font color="#c74613">     Oakland Location</font></h2>
	<div class="padding" style="padding-bottom:1px;">&nbsp;</div>
        <p><font size ="3" style="font-weight:bold">Oakland Center / Admin Office</font></p>
<p><font size ="3">2648 International Boulevard</p>
<p><font size="3">Oakland, CA 94601</p>
<p><font size="3">510.437.8950</p>
<p><font size="3">510.437.8955 (fax)</p>

<div class="padding" style="padding-bottom:1px;">&nbsp;</div>
<p><font size ="3"><font size ="3" style="font-weight:bold">Oakland Family Strengthening Center / Early Head Start Office</font></p>
<p><font size ="3">2595 International Boulevard</p>
<p><font size ="3">Oakland, CA 94601</p>
<p><font size ="3">510.903.7500</p>
<p><font size ="3">510.437.9795 (fax).</p>
	<div class="padding" style="padding-bottom:7px;">&nbsp;</div>

        <h2><img src="http://s17.postimage.org/90gbaee7f/brighter_beginnings_logo.jpg" alt="logo" width="50" height="50" align="absmiddle"/><font color="#c74613">     Richmond Location</font></h1>
        <div class="padding" style="padding-bottom:1px;">&nbsp;</div>
        <p><font size ="3" style="font-weight:bold">Richmond Center</font></p>
<p><font size="3">2727 Macdonald Avenue</p>
<p><font size="3">Richmond, CA 94804</p>
<p><font size="3">510.236.6990</p>
<p><font size="3">510.236.7346 (fax)</p>
        <div class="padding" style="padding-bottom:7px;">&nbsp;</div>
        
        <h2><img src="http://s17.postimage.org/90gbaee7f/brighter_beginnings_logo.jpg" alt="logo" width="50" height="50" align="absmiddle"/><font color="#c74613">     Antioch Location</font></h2>
        <div class="padding" style="padding-bottom:1px;">&nbsp;</div>
        <p><font size ="3" style="font-weight:bold">Antioch First 5 Center</font></p>

<p><font size="3">512 West Fifth Street</p>
<p><font size="3">Antioch, CA  94509</p>
<p><font size="3">925.757-5303</p>
<p><font size="3">925.978-1775 (fax)</p>
        <div class="padding" style="padding-bottom:7px;">&nbsp;</div>
        
        <h2><img src="http://s17.postimage.org/90gbaee7f/brighter_beginnings_logo.jpg" alt="logo" width="50" height="50" align="absmiddle"/><font color="#c74613">     Bay Point Location</font></h2>
        <div class="padding" style="padding-bottom:7px;">&nbsp;</div>
        <font size ="3" style="font-weight:bold">Ambrose Community Center</font></p>
<p><font size = "3">3105 Willow Pass Road, Room 13</p>
<p><font size = "3">Bay Point, CA 94565</p>
<p><font size = "3">925.757-5303</p>
<p><font size = "3">925.709-3431 (fax)</p>
<div class="padding" style="padding-bottom:7px;">&nbsp;</div>
<p><a class="btn btn-primary btn-large" ONCLICK='href="/#index"'>back to homepage &raquo;</a></p>
        </div>
        
      </div>

    
  </body>
</html>

