<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bootstrap, from Twitter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  </head>

  <body>

        <img src="/assets/logo_medium.png" alt="logo"/>
        <div class="padding" style="padding-bottom:25px;">&nbsp;</div>
        <h1><font size="10"><img src="/assets/logo_small.jpg" alt="logo" width="85" height="85" align="absmiddle"/><font color="#c74613">     Donor FAQ's</font></h1>
        <div class="padding" style="padding-bottom:10px;">&nbsp;</div>
        
	<div class="padding" style="padding-bottom:1px;">&nbsp;</div>
        <p><font size ="3"><font color="#385389">Q: What is the Adopt-a-Family program??</font></p>
        <p><font size ="3"><img src="/assets/logo_small.jpg" alt="logo" width="25" height="25" align="absmiddle"/>Brighter Beginnings' Adopt-a-Family program provides assistance to those who would otherwise not have a holiday celebration. Through this "adoption" process, low-income families are matched with a donor who purchases seasonal gifts and drops them off at one of our locations in Alameda or Contra Costa County.
<br/>
Our goal is to facilitate "adoptions" for approximately 250 families this holiday season to provide toys, clothing, and other necessities.
</p>
        <div class="padding" style="padding-bottom:1px;">&nbsp;</div>
        <p><font size ="3"><font color="#385389">Q: Can I choose which family I'd like to adopt?</font></p>
        <p><font size ="3"><img src="/assets/logo_small.jpg" alt="logo" width="25" height="25" align="absmiddle"/>Yes. You can browse nearby families who are in need of gifts by following these steps:<br/>
1. Sign up or log in with your gmail account by clicking sign in at at the upper right hand corner.<br/>
2. Fill out the required fields and click submit.<br/>
3. Under the nearby families tab, check the family size you want to donate to and click filter.<br/>
4. All the families nearby who are ready to receive donations will show up.<br/></p>
        <div class="padding" style="padding-bottom:1px;">&nbsp;</div>
        <p><font size ="3"><font color="#385389">Q: How will I know what the family needs?</font></p>
        <p><font size ="3"><img src="/assets/logo_small.jpg" alt="logo" width="25" height="25" align="absmiddle"/>The wish list and clothing sizes of each family member will be shown under the details of the list of families that you browse (see instructions above). You may wish to provide at least one "fun" gift and one "practical" gift for each family member. Please note that you do not have to buy every item on the wishlist.</p>
        <div class="padding" style="padding-bottom:1px;">&nbsp;</div>
        <p><font size ="3"><font color="#385389">Q: Where and when may I drop off my donation?</font></p>
        <p><font size ="3"><img src="/assets/logo_small.jpg" alt="logo" width="25" height="25" align="absmiddle"/>Gifts must be dropped off at the location associated with the family you choose (i.e. Richmond family, Richmond drop-off). Gift drop-off locations include Richmond, Antioch, and Oakland. Please click <a href="http://www.brighter-beginnings.org/get-involved/adopt-a-family-2">here</a> for the street addresses and maps for each location.<br/>Drop-off dates for all locations are:<br/>Saturday, December 8th 11:00am-5:00pm<br/>Wednesday, December 12th 11:00am-7:00pm</p>
        <div class="padding" style="padding-bottom:1px;">&nbsp;</div>
        <p><font size ="3"><font color="#385389">Q: Should my donation be wrapped?</font></p>
        <p><font size ="3"><img src="/assets/logo_small.jpg" alt="logo" width="25" height="25" align="absmiddle"/>Yes. Each item must be new and wrapped and tagged. Place all items for each family in sturdy boxes with lids and tape securely to close. Maximum weight for boxes is 30lbs. Boldly mark the <b>Family Code Number</b> (which is on the family profile of the family you chose) on all four sides and top of each box. Mark each box to indicate the total number of boxes included (i.e. 1 of 3, 2 of 3, etc.).</p>
        <div class="padding" style="padding-bottom:1px;">&nbsp;</div>
        <p><font size ="3"><font color="#385389">Q: How do I print out a tax-deductible receipt?</font></p>
        <p><font size ="3"><img src="/assets/logo_small.jpg" alt="logo" width="25" height="25" align="absmiddle"/>Click <a href="http://www.brighter-beginnings.org/wp-content/uploads/2012/10/Donation-receipt-AAF-2012.pdf">here</a> to complete a receipt form. Be sure to include the value of the gifts that you have purchased. Bring this receipt with you to Brighter Beginnings when you drop off your gift. A Brighter Beginnings representative will sign the receipt and give you back a copy to use for your tax returns.</p>
        <div class="padding" style="padding-bottom:1px;">&nbsp;</div>
        <p><font size ="3"><font color="#385389">Q: What is Brighter Beginnings’ federal tax ID?</font></p>
        <p><font size ="3"><img src="/assets/logo_small.jpg" alt="logo" width="25" height="25" align="absmiddle"/>Brighter Beginnings’ federal tax ID is 94-2949749</p>
        <div class="padding" style="padding-bottom:1px;">&nbsp;</div>
        <p><font size ="3"><font color="#385389">Q: How do I browse nearby families who need financial support?</font></p>
        <p><font size ="3"><img src="/assets/logo_small.jpg" alt="logo" width="25" height="25" align="absmiddle"/>Sign up or log-in with your gmail account by clicking sign in at the upper right corner.</p>
        <p><font size ="3"><img src="/assets/logo_small.jpg" alt="logo" width="25" height="25" align="absmiddle"/>Fill out the required field and click submit.</p>
        <p><font size ="3"><img src="/assets/logo_small.jpg" alt="logo" width="25" height="25" align="absmiddle"/>Under the nearby families tab, check the family size you want to donate and click filter.</p>
        <p><font size ="3"><img src="/assets/logo_small.jpg" alt="logo" width="25" height="25" align="absmiddle"/>All the families nearby who are ready to receive donations will show up.</p>
        <div class="padding" style="padding-bottom:1px;">&nbsp;</div>
        <p><font size ="3"><font color="#385389">Q: Who should I contact if I have more questions?</font></p>
        <p><font size ="3"><img src="/assets/logo_small.jpg" alt="logo" width="25" height="25" align="absmiddle"/>For additional information contact Claudia Cesena at (510)903-7517 or adopt-a-family@brighter-beginnings.org.</p>
       
        
        <p><font size ="3"><img src="/assets/logo_small.jpg" alt="logo" width="25" height="25" align="absmiddle"/>If you are interested in learning about other ways to support Brighter Beginnings, please click <a href="http://www.brighter-beginnings.org/donate">here</a>.</p>
      </div>

    
  </body>
</html>

