<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bootstrap, from Twitter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  </head>

  <body>

        <img src="/assets/logo_medium.png" alt="logo"/>
        <div class="padding" style="padding-bottom:25px;">&nbsp;</div>
        <h1><font size="10"><img src="/assets/logo_small.jpg" alt="logo" width="85" height="85" align="absmiddle"/><font color="#c74613">     Donor FAQ's</font></h1>
        <div class="padding" style="padding-bottom:10px;">&nbsp;</div>
        
	<div class="padding" style="padding-bottom:1px;">&nbsp;</div>
        <p><font size ="3"><font color="#385389">Q: What is Brighter Beginnings’ federal tax ID?</font></p>
        <p><font size ="3"><img src="/assets/logo_small.jpg" alt="logo" width="25" height="25" align="absmiddle"/>Brighter Beginnings’ federal tax ID is 94-2949749</p>
        <div class="padding" style="padding-bottom:1px;">&nbsp;</div>
        <p><font size ="3"><font color="#385389">Q: How do I browse nearby families who need financial support?</font></p>
        <p><font size ="3"><img src="/assets/logo_small.jpg" alt="logo" width="25" height="25" align="absmiddle"/>Sign up or log-in with your gmail account by clicking sign in at the upper right corner.</p>
        <p><font size ="3"><img src="/assets/logo_small.jpg" alt="logo" width="25" height="25" align="absmiddle"/>Fill out the required field and click submit.</p>
        <p><font size ="3"><img src="/assets/logo_small.jpg" alt="logo" width="25" height="25" align="absmiddle"/>Under the nearby families tab, check the family size you want to donate and click filter.</p>
        <p><font size ="3"><img src="/assets/logo_small.jpg" alt="logo" width="25" height="25" align="absmiddle"/>All the families nearby who are ready to receive donations will show up.</p>
        <div class="padding" style="padding-bottom:1px;">&nbsp;</div>
        <p><font size ="3"><font color="#385389">Q: Who should I contact if I have more questions?</font></p>
        <p><font size ="3"><img src="/assets/logo_small.jpg" alt="logo" width="25" height="25" align="absmiddle"/>For additional information contact Grace Aroha: garoha@brighter-beginnings.org or 510-903-7529.</p>
       
        
        <p><font size ="3"><img src="/assets/logo_small.jpg" alt="logo" width="25" height="25" align="absmiddle"/>If you are interested in learning about other ways to support Brighter Beginnings, please click <a href="#">here</a>.</p>
      </div>

    
  </body>
</html>

