<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bootstrap, from Twitter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  </head>

  <body>

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <img src="/assets/logo_medium.png" alt="logo"/>
        <div class="padding" style="padding-bottom:25px;">&nbsp;</div>
        <h1>Adopt a Family</h1>
	  <div class="padding" style="padding-bottom:10px;">&nbsp;</div>
        <p>Welcome to Brighter Beginning's Adopt a Family Program! If you are a donor looking to provide support for a family, please take a look around our site to find out how you can make a difference! We currently have offices in 4 major locations.</p>
	<div class="padding" style="padding-bottom:10px;">&nbsp;</div>
        <p><a class="btn btn-primary btn-large" href="/auth/google">Sign up now!</a></p>
        <p><font size ="3">(To sign up, you will first need to login with your Google Account.)</p>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span4">
          <h2><img src="http://s17.postimage.org/90gbaee7f/brighter_beginnings_logo.jpg" alt="logo" width="50" height="50" align="absmiddle"/><font color="#385389">  Success Stories</font></h2>
           <p>Since the inception of the donor program, Brighter Beginnings has managed to make a huge difference in the lives of many families. Click here to see testimonies and stories from the community.</p>
          <p><a class="btn" href="/story">View more&raquo;</a></p>
        </div>
        <div class="span4">
          <h2><img src="http://s17.postimage.org/90gbaee7f/brighter_beginnings_logo.jpg" alt="logo" width="50" height="50" align="absmiddle"/><font color="#385389">  Get Involved</font></h2>
           <p>Brighter Beginnings is always looking for talented, passionate people to help us in our mission to strengthen East Bay families. Volunteer or do an internship with us!</p>
          <p><a class="btn" href="/contact">View more&raquo;</a></p>
       </div>
        <div class="span4">
          <h2><img src="http://s17.postimage.org/90gbaee7f/brighter_beginnings_logo.jpg" alt="logo" width="50" height="50" align="absmiddle"/><font color="#385389">  Donor FAQ's</font></h2>
          <p>Have questions about how the Adopt-a-Family program works exactly? Click here to see common questions and answers about our Adopt a Family Program!</p>
          <p><a class="btn" href="/faq">View more&raquo;</a></p>
        </div>
      </div>

    
  </body>
</html>

