<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bootstrap, from Twitter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  </head>

  <body>

        <img src="/assets/logo_medium.png" alt="logo"/>
        <div class="padding" style="padding-bottom:25px;">&nbsp;</div>
        <h1><font size="10"><img src="/assets/logo_small.jpg" alt="logo" width="85" height="85" align="absmiddle"/><font color="#c74613">     Success Stories</font></h1>
        <div class="padding" style="padding-bottom:25px;">&nbsp;</div>
        <h2><img src="/assets/logo_small.jpg" alt="logo" width="50" height="50" align="absmiddle"/><font color="#385389">     Here are just a few of our recent successes:</font></h2>
	<div class="padding" style="padding-bottom:1px;">&nbsp;</div>
        <p><font size ="3"><img src="/assets/logo_small.jpg" alt="logo" width="25" height="25" align="absmiddle"/>80% of the teen parents we serve graduate from high school (more than double the national average), significantly increasing their earning potential
<p><font size ="3"><img src="/assets/logo_small.jpg" alt="logo" width="25" height="25" align="absmiddle"/>Only 4% of the teen moms we serve have repeat births, compared to 30% nationally</p>
<p><font size ="3"><img src="/assets/logo_small.jpg" alt="logo" width="25" height="25" align="absmiddle"/>99% of the teens and children we serve are successfully connected to health care resources</p>
<p><font size ="3"><img src="/assets/logo_small.jpg" alt="logo" width="25" height="25" align="absmiddle"/>Our Emergency Closet enables us to provide emergency supplies to more than 400 families each year</p>
<p><font size ="3"><img src="/assets/logo_small.jpg" alt="logo" width="25" height="25" align="absmiddle"/>Parents in our parenting support groups report feeling less isolated and 80% have made fundamental improvements in how they care for their children as a direct result of the program</p>
<p><font size ="3"><img src="/assets/logo_small.jpg" alt="logo" width="25" height="25" align="absmiddle"/>97% of dads we serve reported they felt more confident as parents after participating in a fatherhood group; 79% said they spent more time with their children</p>
<p><font size ="3"><img src="/assets/logo_small.jpg" alt="logo" width="25" height="25" align="absmiddle"/>A group of parents whose children have been involved in Early Head Start for one year have been so gratified by the results that they are working together to put out an educational newsletter for parents by parents</p>
<p><font size ="3"><img src="/assets/logo_small.jpg" alt="logo" width="25" height="25" align="absmiddle"/>100% of the clients that set financial goals in our Family Financial Fitness workshop series indicated through a survey question that they felt competent to achieve at least one of the financial goals they set</p>
<p><font size ="3"><img src="/assets/logo_small.jpg" alt="logo" width="25" height="25" align="absmiddle"/>Our social service colleagues and collaborators strongly believe in our approach. And the fact that we have received successive yearly grants from many of our grantors testifies to our able stewardship of the funds and grants we receive.</p>
	<div class="padding" style="padding-bottom:7px;">&nbsp;</div>

        <h2><img src="/assets/logo_small.jpg" alt="logo" width="50" height="50" align="absmiddle"/><font color="#385389">     What others are saying</font></h1>
        <div class="padding" style="padding-bottom:1px;">&nbsp;</div>
        <p><font size ="3"><img src="/assets/logo_small.jpg" alt="logo" width="25" height="25" align="absmiddle"/>“We highly value our partnership with Brighter Beginnings. Not only have they been excellent financial stewards of the many grants we’ve awarded them, their innovative and comprehensive approach to helping young children and their families is a model with proven results. Young children in our County have benefited greatly from the dedicated professionals at Brighter Beginnings!” </p><p><font size ="3">— Mark Friedman, CEO, First 5, Alameda County</p>

<p><font size ="3"><img src="/assets/logo_small.jpg" alt="logo" width="25" height="25" align="absmiddle"/>“The need for family-strengthening services in East Contra Costa County is exceedingly high because it has the highest incidence of domestic violence and child abuse, which has led to an increase in families entering the child welfare system. Dr. McCullough of Brighter Beginnings has been instrumental in terms of her proactive intervention with distressed families in the county, and she has been a tireless advocate for the reinstatement of the recently-cut Black Infant Health program.” </p><p><font size ="3">— Ray Merritt, Division Manager, East Contra Costa County, Employment and Human Services (Retired March 2011)</p>

<div class="padding" style="padding-bottom:7px;">&nbsp;</div>
<p><a class="btn btn-primary btn-large" ONCLICK='href="/#index"'>back to homepage &raquo;</a></p>
        </div>
        
      </div>

    
  </body>
</html>

