<h1>Adopt <%= @display %>!</h1><br />
<%= form_for @donation do |f| %>
   <label>Desired Drop-Off Date:</label>
   <select name="donation[scheduled_dropoff]" style="width:300px;">
      <option value="12/8/2012">Saturday, 12/8/2012 (11:00am-5:00pm)</option>
      <option value="12/12/2012">Wednesday, 12/12/2012 (11:00am-7:00pm)</option>
    </select>  

<p>(Please note, your drop-off location will be the office in the location of the family you chose.)</p>   
<%=f.submit "Donate Now!", :id=> "Donate", :class=>"btn btn-primary btn-large", confirm: "Are you sure you want to donate?"%>
<%end%>
