<h1>Adopt <%= @display %>!</h1><br />
<%= form_for @donation do |f| %>
   <label>Drop Off Location:</label>
   <select id="donation_dropoff_site" name="donation[dropoff_site]">
      <option value="1">Oakland</option>
      <option value="2">Richmond</option>
      <option value="3">Antioch</option>
      <option value="4">Bay Point</option>
    </select>  

<label>Desired Drop-Off Date:(mm/dd/yyyy)</label> 
<input type="text" name="donation[scheduled_dropoff]" id="datepicker"><br /><br />
   <%=f.submit "Donate Now!", :id=> "Donate", :class=>"btn btn-primary btn-large", confirm: "Are you sure you want to donate?"%>
<%end%>
